-
  const cardBasket = [
    {
      title: 'Пуховик Lime Short',
      priceCurrent: "900"
    },
    {
      title: 'Пуховик Lime Short',
      priceCurrent: "900"
    },
    {
      title: 'Пуховик Lime Short',
      priceCurrent: "900"
    },
  ]
