.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba($black, 0);
  transition: .15s linear;
  backdrop-filter: blur(3px);
}

.overlay.show {
  background-color: rgba($black, 0.5);
}
