-
  const listСommunity = [
    {
      title: 'Зарегистрируйтесь',
      text: 'Получите свой первый ключ и стартовые бонусы: 3% кэшбэк с каждой покупки в виде баллов, скидка на первый заказ и персональный подарок ко дню рождения',
    },
    {
      title: 'делайте покупки',
      text: 'За каждую покупку онлайн и офлайн начисляются баллы: 1 BYN = 1 балл. Баллы открывают доступ к новым уровням и преимуществам',
    },
    {
      title: 'Используйте баллы',
      text: 'Обменивайте баллы на скидку при покупке онлайн или офлайн. Дополнительные бонусы (спецпредложения, мероприятия) зависят от вашего уровня',
    },
  ]

  const listStatus = [
    {
      title: 'Бонусы',
      iconTitle: true,
      subtitle: '',
      list: [
        {
          label: 'Кэшбэк с покупок'
        },
        {
          label: 'Бонус на первый заказ.'
        },
        {
          label: 'Подарок на день рождения'
        },
        {
          label: 'Ранний доступ к новым коллекциям'
        },
        {
          label: 'Ранний доступ к распродажам и спецпредложениям'
        },
        {
          label: 'Участие в закрытых мероприятиях бренда'
        }
      ]
    },
    {
      title: 'Member',
      subtitle: '[ Регистрация ]',
      current: true,
      hasBtn: true,
      hasBtnText: true,
      list: [
        {
          label: 'Кэшбэк с покупок',
          value: '3%'
        },
        {
          label: 'Бонус на первый заказ.',
          value: '+'
        },
        {
          label: 'Подарок на день рождения',
          value: '+'
        },
        {
          label: 'Ранний доступ к новым коллекциям',
          value: '-'
        },
        {
          label: 'Ранний доступ к распродажам и спецпредложениям',
          value: '-'
        },
        {
          label: 'Участие в закрытых мероприятиях бренда',
          value: '-'
        },
      ]
    },
    {
      title: 'Insider',
      subtitle: '[ от 1000 баллов ]',
      list: [
        {
          label: 'Кэшбэк с покупок',
          value: '5%'
        },
        {
          label: 'Бонус на первый заказ.',
          value: '-'
        },
        {
          label: 'Подарок на день рождения',
          value: '+'
        },
        {
          label: 'Ранний доступ к новым коллекциям',
          value: '+'
        },
        {
          label: 'Ранний доступ к распродажам и спецпредложениям',
          value: '-'
        },
        {
          label: 'Участие в закрытых мероприятиях бренда',
          value: '-'
        },
      ]
    },
    {
      title: 'Select',
      subtitle: '[ от 3000 баллов ]',
      list: [
        {
          label: 'Кэшбэк с покупок',
          value: '10%'
        },
        {
          label: 'Бонус на первый заказ.',
          value: '-'
        },
        {
          label: 'Подарок на день рождения',
          value: '+'
        },
        {
          label: 'Ранний доступ к новым коллекциям',
          value: '+'
        },
        {
          label: 'Ранний доступ к распродажам и спецпредложениям',
          value: '+'
        },
        {
          label: 'Участие в закрытых мероприятиях бренда',
          value: '-'
        },
      ]
    },
    {
      title: 'Key Member',
      subtitle: '[ от 5000 баллов ]',
      list: [
        {
          label: 'Кэшбэк с покупок',
          value: '15%'
        },
        {
          label: 'Бонус на первый заказ.',
          value: '-'
        },
        {
          label: 'Подарок на день рождения',
          value: '+'
        },
        {
          label: 'Ранний доступ к новым коллекциям',
          value: '+'
        },
        {
          label: 'Ранний доступ к распродажам и спецпредложениям',
          value: '+'
        },
        {
          label: 'Участие в закрытых мероприятиях бренда',
          value: '+'
        },
      ]
    },
  ]
