.page-community__main-product {
  background-image: url("../img/decor/bg-main-block-2.jpg");
  margin-bottom: 28px;
  @media (min-width: $screen-xl) {
    margin-bottom: 76px;
  }
}

.page-community__steps {
  gap: 10px;

  @media (min-width: $screen-xl) {
    gap: 10px;
  }
}

.page-community__card-content {
  margin-bottom: 28px;
  @media (min-width: $screen-xl) {
    gap: 83px;
    margin-bottom: 146px;
  }
}

.page-community__card-content .card-content__main-content {
  @media (min-width: $screen-xl) {
    max-width: 529px;
    margin-right: 73px;
  }
}

.page-community__card-content .card-content__title {
  margin-bottom: 16px;

  @media (min-width: $screen-xl) {
    margin-bottom: 35px;
  }
}

.page-community__block-products {
  margin-bottom: 28px;

  @media (min-width: $screen-xl) {
    margin-bottom: 127px;
  }
}

.page-community__block-products .block-products__footer {
  margin-top: 31px;
}

.page-community__table {
  @media (min-width: $screen-xl) {
    padding-bottom: 35px;
  }
}

.page-community__table-char {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: $screen-xl) {
    display: grid;
    grid-template-columns: 322px repeat(4,1fr);
    gap: 10px;
  }
}

.page-community__table-char .table-char__header {
  @media (min-width: $screen-xl) {
    min-height: 94px;
  }
}

.page-community__table-char .table-char__value,
.page-community__table-char .table-char__label {
  @media (min-width: $screen-xl) {
    padding: 0;
  }
}
