.page-about {
  padding-top: 20px;
  @media(min-width: $screen-xl) {
    padding-top: 80px;
  }
}

.page-about__card-content {
  @media(min-width: $screen-xl) {
    flex-direction: row-reverse;
  }
}

.page-about__stack {
  display: flex;
  flex-direction: column;
  gap: 28px;

  @media (min-width: $screen-xl) {
    gap: 80px;
  }
}

.page-about__slogan {
  max-width: 604px;
  margin: 0 auto;
  text-align: center;
}
