.link-icon {
  display: inline-flex;
  align-items: center;
  gap: 3px;

  font-size: 13px;
  position: relative;
  //z-index: 2;
  color: inherit;
  white-space: nowrap;

  cursor: pointer;
  fill: transparent;

  &.active {
    color: $bg-color;
  }

  svg {
    display: block;
  }
}

.link-icon__wrap {
  position: relative;
}

.link-icon__count {
  position: absolute;
  top: -6px;
  right: -7px;
  background-color: $text-color;
  color: $white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  outline: 1px solid $white;
}
