mixin show-more
  .show-more&attributes(attributes)
    a.btn.btn--light-no-border.show-more__btn
      span Показать ещё
      svg(width="36" height="15")
        use(href="img/symbols.svg#icon-arrow-right")
