mixin shops
  section.shops
    h2.shops__title Магазины
    .shops__stack
      .shops__group
        .shops__group-content
          strong.shops__sub-title SHOWROOM
          p г. Минск, ул. Комсомольская 18, оф. 205, 2 этаж, код для входа 2244#
        .shops__group-content
          strong.shops__sub-title время работы:
          p пн: выходной
          p вт-пт: 13:00 - 20:00
          p сб-вс: 12:00 - 18:00
      .shops__group
        .shops__group-content
          strong.shops__sub-title WEARE (Dana Mall)
          p г. Минск, ул. Петра Мстиславца, 11
        .shops__group-content
          strong.shops__sub-title время работы:
          p пн-вс: 09:00 - 23:00
