.shops__stack {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.shops__title {
  font-weight: 300;
  font-size: 14px;
  line-height: 114%;
  text-transform: uppercase;
  color: #ADADAD;
}

.shops__group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.shops__group-content {
  font-weight: 200;
  font-size: 14px;
  line-height: 140%;
}

.shops__group-content p {
  margin: 0;
}

.shops__sub-title {
  display: block;
  font-weight: 400;
}
