-
  const accordionFilter = [
    {
      title: 'Женское <span>569</span>',
      tplContent: `
        <ul>
          <li>
            <a href="#">NEW<span>36</span></a>
          </li>
          <li>
            <a href="#" class="active">Футболки<span>36</span></a>
          </li>
          <li>
            <a href="#">Джемперы, свитеры и толстовки<span>36</span></a>
          </li>
          <li>
            <a href="#">Спортивные костюмы<span>36</span></a>
          </li>
          <li>
            <a href="#">Брюки женские<span>36</span></a>
          </li>
          <li>
            <a href="#">Джинсы<span>36</span></a>
          </li>
          <li>
            <a href="#">Юбки<span>36</span></a>
          </li>
          <li>
            <a href="#">Нижнее белье<span>36</span></a>
          </li>
          <li>
            <a href="#">Топы, лосины и леггинсы<span>36</span></a>
          </li>
          <li>
            <a href="#">Платья и костюмы<span>36</span></a>
          </li>
          <li>
            <a href="#">Скидки<span>36</span></a>
          </li>
          <li>
            <a href="#">Обувь<span>36</span></a>
          </li>
        </ul>
      `
    },
    {
      title: 'Мужское <span>269</span>',
      tplContent: `
        <ul>
          <li>
            <a href="#">NEW<span>36</span></a>
          </li>
          <li>
            <a href="#">Футболки<span>36</span></a>
          </li>
          <li>
            <a href="#">Джемперы, свитеры и толстовки<span>36</span></a>
          </li>
          <li>
            <a href="#">Спортивные костюмы<span>36</span></a>
          </li>
          <li>
            <a href="#">Брюки мужские<span>36</span></a>
          </li>
          <li>
            <a href="#">Джинсы<span>36</span></a>
          </li>
          <li>
            <a href="#">Нижнее белье<span>36</span></a>
          </li>
          <li>
            <a href="#">Скидки<span>36</span></a>
          </li>
          <li>
            <a href="#">Обувь<span>36</span></a>
          </li>
        </ul>
      `
    },
  ]

-
  blogCatigorise = [
    {
      linkTitle: 'Верхняя одежда',
    },
    {
      linkTitle: 'Пиджаки',
    },
    {
      linkTitle: 'Брюки',
    },
  ]
