.card-info {
  padding: 45px 32px; // 38?
  background-color: #f7f7f7;
}

.card-info__title {
  line-height: 110%;
  margin-bottom: 12px;
}

.card-info__description ul {
  padding-left: 25px;
  margin-bottom: 10px;
}

.card-info__description p {
  margin: 0;
}
