include ../blocks/shared/config/utils
include ../blocks/shared/config/pages

include ../blocks/shared/ui/logo/logo.pug
include ../blocks/shared/ui/alert/alert.pug
include ../blocks/shared/ui/accordion/accordion.pug
include ../blocks/shared/ui/link-icon/link-icon.pug
include ../blocks/shared/ui/form/form.pug
include ../blocks/shared/ui/field-text/field-text.pug
include ../blocks/shared/ui/field-radio/field-radio.pug
include ../blocks/shared/ui/field-checkbox/field-checkbox.pug
include ../blocks/shared/ui/field-select/field-select.pug
include ../blocks/shared/ui/field-num/field-num.pug
include ../blocks/shared/ui/field-toggler/field-toggler.pug
include ../blocks/shared/ui/dropdown/dropdown.pug
include ../blocks/shared/ui/burger/burger.pug
include ../blocks/shared/ui/content-block/content-block.pug
include ../blocks/shared/ui/breadcrumbs/breadcrumbs.pug
include ../blocks/shared/ui/progress/progress.pug
include ../blocks/shared/ui/price/price.pug
include ../blocks/shared/ui/table/table.pug
include ../blocks/shared/ui/final-rating/final-rating.pug
include ../blocks/shared/ui/pagination/pagination.pug
include ../blocks/shared/ui/modal/modal.pug
include ../blocks/shared/ui/tag-filter/tag-filter.pug
include ../blocks/shared/ui/link-info/link-info.pug
include ../blocks/shared/ui/tag/tag.pug
include ../blocks/shared/ui/copy/copy.pug
include ../blocks/shared/ui/tab-filter/tab-filter.pug
include ../blocks/shared/ui/quote/quote
include ../blocks/shared/ui/or/or

include ../blocks/entities/main-nav/main-nav
include ../blocks/entities/page-back/page-back
include ../blocks/entities/card-info/card-info
include ../blocks/entities/search-form/search-form
include ../blocks/entities/promo-blocks/promo-blocks
include ../blocks/entities/preview/preview
include ../blocks/entities/blog-preview/blog-preview
include ../blocks/entities/socials/socials
include ../blocks/entities/payment/payment
include ../blocks/entities/subscribe/subscribe
include ../blocks/entities/fashion/fashion.pug
include ../blocks/entities/show-more/show-more.pug
include ../blocks/entities/filter-bar/filter-bar.pug
include ../blocks/entities/product-gallery/product-gallery.pug
include ../blocks/entities/benefits/benefits.pug
include ../blocks/entities/block-radio/block-radio.pug
include ../blocks/entities/card-product/card-product.pug
include ../blocks/entities/review-content/review-content.pug
include ../blocks/entities/rating-product/rating-product.pug
include ../blocks/entities/choose-stars/choose-stars.pug
include ../blocks/entities/size-table/size-table.pug
include ../blocks/entities/range/range.pug
include ../blocks/entities/shop-address/shop-address.pug
include ../blocks/entities/shops/shops.pug
include ../blocks/entities/steps-tab/steps-tab.pug
include ../blocks/entities/step-block/step-block.pug
include ../blocks/entities/card-content/card-content
include ../blocks/entities/table-char/table-char
include ../blocks/entities/bonus-card/bonus-card
include ../blocks/entities/filter-current/filter-current

include ../blocks/feature/total-amount/total-amount.pug
include ../blocks/feature/contact/contact.pug

include ../blocks/widgets/main-slider/main-slider.pug
include ../blocks/widgets/page-header/page-header.pug
include ../blocks/widgets/page-footer/page-footer.pug
include ../blocks/widgets/block-products/block-products.pug
include ../blocks/widgets/not-found/not-found.pug
include ../blocks/widgets/product-content/product-content.pug
include ../blocks/widgets/modal-menu/modal-menu.pug
include ../blocks/widgets/modal-content/modal-content.pug
include ../blocks/widgets/modal-size-table/modal-size-table.pug
include ../blocks/widgets/modal-basket/modal-basket
include ../blocks/widgets/modal-basket/modal-basket-no-empty
include ../blocks/widgets/modal-entry/modal-entry
include ../blocks/widgets/modal-entry/modal-reg
include ../blocks/widgets/modal-entry/modal-recovery
include ../blocks/widgets/modal-filter/modal-filter
include ../blocks/widgets/modal-shop/modal-shop
include ../blocks/widgets/modal-terms-use/modal-terms-use
include ../blocks/widgets/preview-community/preview-community
include ../blocks/widgets/advantages/advantages
include ../blocks/widgets/main-block/main-block
include ../blocks/widgets/gift-card/gift-card
include ../blocks/widgets/modal-gift/modal-gift
include ../blocks/widgets/modal-no-entry/modal-no-entry

include ../blocks/pages/page-catalog/page-catalog.pug
include ../blocks/pages/page-catalog/page-articles
include ../blocks/pages/page-checkout/page-checkout
include ../blocks/pages/page-community/page-community
