mixin modal-content
  +modal({
    id: 'modal-content',
    title: 'Состав и уход'
  }).modal-content
    p 100% Гусиный пух
    ul
      li Стирка: Ручная или в деликатном режиме при температуре не выше 30 °C
      li Отбеливание запрещено
      li Барабанная сушка при низкой температуре (рекомендуется использовать специальные шарики или теннисные мячи для равномерного распределения пуха)
      li Утюжить обычно не требуется; при необходимости можно аккуратно отпаривать, держа отпариватель на небольшом расстоянии
      li Профессиональная сухая чистка: мягкий режим с использованием безопасных растворителей
    p Берегите пуховик от контакта с острыми и грубыми предметами, чтобы не повредить ткань и пуховый наполнитель.
    p Перед стиркой и чисткой застегните молнии и клапаны, при необходимости снимите или защитите фурнитуру.
    p Храните пуховик в объёмном состоянии (не сминайте) и обеспечивайте ему доступ воздуха, чтобы пух не сбивался и не терял свои теплоизоляционные свойства.
