// В этом файле должны быть стили для БЭМ-блока field-toggler, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%);
$border-color:                hsl(0, 0%, 60%) !default;

$line-height:                 1.5 !default;

.field-toggler {

  $block-name:                &; // #{$block-name}__element

  display: block;

  &__title {

  }

  &__input-wrap {

    & + & {
      margin-top: 1rem;
    }
  }

  &__name {
    position: relative;
    display: block;
    font-weight: 400;
    line-height: 0;
  }

  &__name-text {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
    background-color: #E4E4E4;
    transition: $time;
    border-radius: 50px;

    &:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 18px;
      height: 18px;
      background-color: $white;
      transition: all $time;
      border-radius: 50px;
    }

    @at-root input:checked ~ span {
      background-color: $bg-color;
    }

    @at-root input:checked ~ &:after {
      transform: translate(19px, 0);
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__help-text-wrap {
    padding-left: 3.2em;
  }

  &__help-text {

  }
}
