-
  const footerNav = [
    {
      title: 'Покупателям',
      links: [
        pages.catalog,
        pages.pageCert,
        pages.pageСommunity,
        pages.pageContact
      ]
    },
    {
      title: 'Информация',
      links: [
        pages.pageAbout,
        pages.pageDelivery,
        pages.pageReturn,
        {
          text: "Состав и уход",
          href: "#"
        },
        pages.blog,
      ]
    },
    {
      title: 'Реквизиты',
      links: [
        {
          text: "Политика конфиденциальности",
          href: "#"
        },
        {
          text: "Публичная оферта",
          href: "#"
        },
      ],
      details: "ЧП «Зэ съютер» | УНП: 193665268\ <br/> Юр. адрес: РБ, 220030, г. Минск, ул. Комсомольская, 18, оф. 205  <br/> Торговый реестр: №528549"
    }
  ]
