.page-footer {
  @media (min-width: $screen-xl) {
    border-top: 1px solid $color-light-gray;
  }
}

.page-footer__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $screen-xl) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.page-footer__grid-available {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 3;

  @media (min-width: $screen-xl) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 31px 0;
    order: initial;
  }
}

.page-footer__nav {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-xl) {
    display: grid;
    grid-template-columns:
      minmax(220px, 352px)
      minmax(181px, 245px)
      minmax(154px, 245px)
      1fr;
    gap: 12px;

    padding: 39px 0 35px;
  }
}

.page-footer__nav-title {
  position: relative;
  padding: 18px 20px 18px 0;
  margin-bottom: -1px;
  border-top: 1px solid $color-light-gray;
  border-bottom: 1px solid $color-light-gray;

  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;

  color: $color-gray;

  &::after,
  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 24px;
    height: 1px;
    background-color: $color-gray;

    @media (min-width: $screen-xl) {
      display: none;
    }
  }

  &::before {
    transform: rotate(-90deg);
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 18px;
    padding: 0;
    border: none;
  }
}

.page-footer__nav-wrap.is-active .page-footer__nav-title::before {
  transform: rotate(0deg);
}

.page-footer__nav-wrap--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  order: 1;
  padding: 18px 0;

  @media (min-width: $screen-xl) {
    display: block;
    order: -1;
    padding: 0;
    text-align: left;
  }
}

.page-footer__nav-wrap--content .socials {
  @media (max-width: $screen-xl - 1) {
    justify-content: center;
  }
}

.page-footer__nav-list {
  @include ul-none;
  padding-left: 16px;

  @media (min-width: $screen-xl) {
    max-height: initial;
    display: grid;
    gap: 15px;
    padding: 0;
  }
}

.page-footer__nav-link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 18px 20px 18px 0;
  margin-bottom: -1px;
  border-top: 1px solid $color-light-gray;
  border-bottom: 1px solid $color-light-gray;
  gap: 4px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;

  transition: $time;
  color: inherit;

  svg {
    flex-shrink: 0;
    fill: transparent;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13l6-6-6-6' stroke='%23D6D6D6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

    @media (min-width: $screen-xl) {
      display: none;
    }
  }

  &:hover {
    color: $color-gray;
  }

  @media (min-width: $screen-xl) {
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: none;
  }
}

.page-footer__nav-link--no-href {
  font-weight: 200;
  font-size: 12px;
  line-height: 130%;
  text-transform: none;

  &::after,
  &::before {
    display: none;
  }
}

.page-footer__btn-link {
  cursor: pointer;
  max-width: 227px;
  width: 100%;
  padding: 8.5px;
  margin-bottom: 12px;
}

.page-footer__module-time {
  margin: 0;
}

.page-footer__module-time span {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: $color-gray;
}

.page-footer__under {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.1px;
  text-transform: uppercase;

  color: $white;
  background-color: $text-color;
  padding: 17px 0;
  order: 4;

  p {
    margin: 0;
  }

  @media (min-width: $screen-xl) {
    order: initial;
  }
}

.page-footer__col {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px 0;
  border-top: 1px solid $color-light;

  @media (min-width: $screen-xl) {
    display: block;
    border: none;
    padding: 0;
    width: auto;
  }
}

.page-footer__under-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  @media (min-width: $screen-xl) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__under-images {
  @media (min-width: $screen-xl) {
    margin-right: -10px;
  }
}
