mixin modal-terms-use
  +modal({
    id: 'modal-terms-use',
    title: 'Условия использования'
  }).modal-terms-use
    ul
      li Срок действия — 1 год с момента покупки.
      li Номинал можно выбрать самостоятельно — от 50 BYN.
      li Электронный сертификат отправляется по email.
      li Сертификатом можно оплатить покупки на сайте и в розничных магазинах The Suitter.
      li Электронный сертификат можно привязать к личному кабинету по номеру телефона.
      li Для оплаты в магазине достаточно показать письмо или SMS с кодом сертификата.
      li Сертификат можно использовать вместе с баллами и промокодом.
      li Сумма сертификата может быть использована полностью или частично, в том числе на доставку.
      li За покупку сертификата бонусные баллы не начисляются.
      li Возврат средств за сертификат не предусмотрен.
      li При возврате товара, оплаченного сертификатом, сумма вернётся на него же.
