-
  const pages = {
    404: {
      text: '404',
      href: '404.html',
    },
    index: {
      text: 'Главная',
      href: 'index.html'
    },
    catalog: {
      text: 'Каталог',
      href: 'catalog.html'
    },
    catalogFavorite: {
      text: 'Избранное',
      href: 'catalog-favorite.html'
    },
    catalogFavoriteNoEmpty: {
      text: 'Избранное (ничего не найдено)',
      href: 'catalog-favorite-no-empty.html',
      text2: 'Избранное'
    },
    catalogSingle: {
      text: 'Пуховик Short Lime',
      href: 'catalog-single.html'
    },
    catalogCategory: {
      text: 'Верхняя одежда',
      href: 'catalog-category.html'
    },
    basketCheckout: {
      text: 'Оформление заказа',
      href: 'basket-checkout.html',
    },
    pageContact: {
      text: 'Контакты',
      href: 'page-contact.html',
      icon: 'contact'
    },
    pageCert: {
      text: 'Подарочная карта',
      href: 'page-cert.html',
    },
    pageСommunity: {
      text: 'Комьюнити',
      href: 'page-community.html'
    },
    pageAbout: {
      text: 'О нас',
      href: 'page-about.html',
    },
    pageDelivery: {
      text: 'Доставка и оплата',
      href: 'page-delivery.html',
      icon: 'delivery'
    },
    pageReturn: {
      text: 'Возврат и обмен',
      href: 'page-return.html',
      icon: 'return'
    },
    blog: {
      text: 'Блог',
      href: 'blog.html',
    },
    blogSingle: {
      text: '6 образов от Лии Руммо',
      href: 'blog-single.html',
    }
  }
