.page-cert__list-info {
  padding-left: 18px;
  margin-top: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 130%;

  display: flex;
  flex-direction: column;
  gap: 5px;

  @media(min-width: $screen-xl) {
    gap: 0px;
  }
}

.page-cert__gap {
  gap: 15px;
  @media(min-width: $screen-xl) {
    gap: 10px;
  }
}
