-
  const modalMenu = [
    {
      title: 'Категории',
      tplContent: `
        <ul>
          <li>
            <a href="#">Верхняя одежда</a>
          </li>
          <li>
            <a href="#" class="active">Пиджаки</a>
          </li>
          <li>
            <a href="#">Брюки</a>
          </li>
          <li>
            <a href="#">Жилеты</a>
          </li>
          <li>
            <a href="#">Платья</a>
          </li>
          <li>
            <a href="#">Юбки</a>
          </li>
          <li>
            <a href="#">Рубашки</a>
          </li>
          <li>
            <a href="#">Топы и футболки</a>
          </li>
          <li>
            <a href="#">Худи</a>
          </li>
          <li>
            <a href="#">Трикотаж</a>
          </li>
          <li>
            <a href="#">Аксессуары</a>
          </li>
        </ul>
      `
    },
    {
      title: 'Коллекции',
      tplContent: `
        <ul>
          <li>
            <a href="#">ss’25</a>
          </li>
          <li>
            <a href="#">Пиджаки</a>
          </li>
          <li>
            <a href="#">sale</a>
          </li>
        </ul>
      `
    }
  ]

-
  const menuLink = [
    {
      text: 'Инфо',
      href: '#'
    },
    {
      text: 'Магазины',
      href: '#'
    },
    pages.pageСommunity,
  ]
