-
  const checkboxListSize = [
    {
      title: 'Выбрать все',
      counter: 127
    },
    {
      title: 'XS',
      counter: 16
    },
    {
      title: 'S',
      counter: 128
    },
    {
      title: 'M',
      counter: 1267
    },
    {
      title: 'L',
      counter: 2
    },
    {
      title: 'Onesize',
      counter: 128
    },
  ]

  const checkboxListCategory = [
    {
      title: 'Выбрать все',
      counter: 127

    },
    {
      title: 'Брюки ',
      counter: 16
    },
    {
      title: 'Жилет ',
      counter: 128
    },
    {
      title: 'Купальник ',
      counter: 1267
    },
    {
      title: 'Пальто ',
      counter: 2
    },
    {
      title: 'Платье ',
      counter: 128
    },
    {
      title: 'Пуховик ',
      counter: 128
    },
    {
      title: 'Рубашка ',
      counter: 128
    },
    {
      title: 'Свитер ',
      counter: 128
    },
    {
      title: 'Топ ',
      counter: 128
    },
    {
      title: 'Юбка ',
      counter: 128
    },
  ]

  const checkboxListMaterial = [
    {
      title: 'Выбрать все ',
      counter: 127
    },
    {
      title: 'Вискоза ',
      counter: 16
    },
    {
      title: 'Гусиный пух ',
      counter: 128
    },
    {
      title: 'Лён ',
      counter: 1267
    },
    {
      title: 'Натуральная кожа ',
      counter: 2
    },
    {
      title: 'Хлопок ',
      counter: 128
    },
    {
      title: 'Шерсть ',
      counter: 128
    },
  ]

  const checkboxListColors = [
    {
      title: 'Кориченевый',
      counter: '123',
      style: 'background-color: rgb(171, 124, 73)'
    },
    {
      title: 'Бежевый',
      counter: '2',
      style: 'background-color: rgb(201, 173, 147)'
    },
    {
      title: 'Белый',
      counter: '1',
      style: 'background-color: rgb(255, 255, 255); border: 1px solid #E4E4E4'
    },
    {
      title: 'Бордо',
      counter: '43',
      style: 'background-color: rgb(111, 44, 79)'
    },
    {
      title: 'Зеленый',
      counter: '89',
      style: 'background-color: rgb(53, 135, 73)'
    },
    {
      title: 'Светло-желтый',
      counter: '123',
      style: 'background-color: rgb(255, 255, 159);'
    }

  ]

