.modal-filter {
  overflow-x: hidden;
}

.modal-filter__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 28px;
}

.modal-filter .modal__dialog,
.modal-filter .modal__content {
  position: static;
  height: 100%;
}

.modal-filter__form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal-filter__item {
  margin-bottom: -1px;
}

.modal-filter__btn {
  padding-bottom: 2px;
  text-transform: none;
  margin-bottom: 34px;
  align-self: flex-start;
}

.modal-filter__send {
  width: 100%;
}

.modal-filter__list {
  @include ul-none;
  flex-grow: 1;
  margin-bottom: 35px;
}
