.rating-product__content {
  display: flex;
  align-items: flex-end;
  gap: 9px;
}

.rating-product__stars .final-rating__star {
  width: 25px;
  height: 25px;
}

.rating-product__number {
  display: flex;
  align-items: flex-end;
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
}

.rating-product__number span {
  font-weight: 400;
  font-size: 12px;
  color: $color-dark-gray;
  line-height: 1.3;
  margin-left: 3px;
}

.rating-product__btn-wrap {
  margin-left: 30px;
  margin-right: 30px;

  @media (min-width: $screen-xl) {
    margin: 0;
  }
}

.rating-product__btn {
  width: 100%;
  padding: 8px;

  @media (min-width: $screen-xl) {
    padding: 10px;
    margin: 0;
  }
}

.rating-product__progress {
  @include ul-none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 15px;
  font-size: 13px;
  color: $color-dark-gray;
}

.rating-product__progress-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rating-product__count-stars {
  width: 65px;
  flex-shrink: 0;
}

.rating-product__progress-count {
  flex-shrink: 0;
  min-width: 20px;
}

.rating-product__progress-bar {
  width: 100%;
}

.rating-product__progress-bar .progress__bar {
  background-color: #fabc07;
  min-height: 5px;
}
