.content-block {
  padding: 24px 15px;
  background-color: $white;
  border-radius: 4px;

  line-height: 22px;

  p:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $screen-lg) {
    padding: 28px 40px;
  }

  img {
    width: 100%;
  }
}

.content-block__title {
  text-align: center;
  padding-bottom: 20px;
  color: #000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.content-block__accordion {
  strong {
    display: block;
  }

  p {
    color: $black;
    line-height: 28px;
  }

  a {
    color: inherit;
  }
}
