mixin bonus-card
  .bonus-card&attributes(attributes)
    .bonus-card__img
      img(src='img/content/cert-card.jpg', alt="Подарочная карта")
    section.bonus-card__view
      h2.bonus-card__title Подарочная карта
      p.bonus-card__price
        span(data-text-price="") 500
        | BYN
