.fashion__main {
  position: relative;
  height: 440px;
  overflow: hidden;

  @media (min-width: $screen-xl) {
    height: auto;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: $time;
    transform: scale(1);
  }

  &:hover img {
    transform: scale(1.05);
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.10), rgba(63, 64, 149, 0.50));
    opacity: .8;
  }
}

.fashion__box {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 15px;
  color: $white;
  z-index: 1;
}
