extends pug/layout.pug

block meta
  title= pages.catalogSingle.text
block header
  +page-header({
    basketId: '#modal-basket'
  })
block content
  -
    const radioList = [
      {
        title: 'Выберите размер',
        value: "",
      },
      {
        title: 'S',
      },
      {
        title: 'M',
      },
      {
        title: 'L',
      },
      {
        title: 'XL',
      },
      {
        title: 'XXL',
      },
      {
        title: '3XL',
      },
    ]

  .catalog-single
    header.catalog-single__header.d-none.d-lg-block
      +breadcrumbs
        +breadcrumbs-item(pages.index.text, pages.index.href)
        +breadcrumbs-item(pages.catalog.text, pages.catalog.href)
        +breadcrumbs-item(pages.catalogCategory.text, pages.catalogCategory.href)
        +breadcrumbs-item(pages.catalogSingle.text)
    .catalog-single__stack
      .catalog-single__grid
        .catalog-single__content
          +product-gallery({
            title: pages.catalogSingle.text,
            img: 2
          }).catalog-single__product-gallery
        aside.catalog-single__sidebar
          +product-content({
            title: pages.catalogSingle.text,
            list: radioList,
          })
      +block-products({
        title: 'Весь образ на фото',
        hasSlider: false
      })(id="block-image")
        .block-products__list.grid-tpl-lg-4.grid-tpl-xl-6
          - for(let i = 1; i < 5; i++)
            +preview({
              img: i,
              hasColors: i === 2,
              btnFavoriteActive: i === 2,
              btnFavoriteCount: i === 2 ? 124 : 123
            }).block-products__preview
      +block-products({
        title: 'Может вам понравиться',
      })
        - for(let i = 1; i < 6; i++)
          +preview({
            img: i,
            hasColors: i === 2,
            btnFavoriteActive: i === 2,
            btnFavoriteCount: i === 2 ? 124 : 123
          }).swiper-slide.block-products__preview
block footer
  +page-footer()
