extends pug/layout.pug

block meta
  title Список страниц
block header
  +page-header({})
block content
  style.
    fieldset {
      border: 1px solid #000;
      margin-bottom: 20px;
      border-radius: 5px;
    }

    legend {
      display: inline-block;
      width: auto;
      font-size: 20px;
      margin-left: 19px;
      margin-right: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }

    main {
      padding-bottom: 40px;
    }

    fieldset li {
      margin: 10px 0;
    }

    a {
      display: inline-block;
      text-decoration: none;
      color: inherit;
    }

  main
    - const pageMain = (elem) => ['index.html', '404.html'].includes(elem["href"]);
    - const pageOrder = (elem) => elem.href.indexOf('page');
    - const pageCatalogs = (elem) => elem.href.indexOf('catalog');
    - const pageBasket = (elem) => elem.href.indexOf('basket');
    - const pageBlog = (elem) => elem.href.indexOf('blog');

    fieldset
      legend Внутр. стр.
      ol
        each item in pages
          if(!pageOrder(item) || pageMain(item))
            li
              a(href=item.href)= item.text

    fieldset
      legend Каталог
      ol
        each item in pages
          if(!pageCatalogs(item))
            li
              a(href=item.href)= item.text

    fieldset
      legend Блог
      ol
        each item in pages
          if(!pageBlog(item))
            li
              a(href=item.href)= item.text

    fieldset
      legend Корзина
      ol
        each item in pages
          if(!pageBasket(item))
            li
              a(href=item.href)= item.text
block footer
  +page-footer()
