extends pug/layout.pug

block var
  - const pageCurrent = pages.pageReturn.href

block meta
  title= pages.pageReturn.text
block header
  +page-header({})
block content
  .delivery-and-return
    +stepsTab([
      {
        text: 'Доставка и оплата',
        href: pages.pageDelivery.href,
      },
      {
        text: 'Возврат товара',
        href: pages.pageReturn.href,
        active: true
      },
    ]).delivery-and-return__steps
    .delivery-and-return__content.delivery-and-return__content--width
      section.delivery-and-return__group
        h1.main-title Мы хотим, чтобы каждая покупка радовала
        p Мы уверены в качестве наших изделий, но понимаем: иногда что-то может не подойти. Вернуть или обменять товар можно — просто соблюдайте несколько простых условий.
      section.delivery-and-return__group
        h2.main-title Сроки возврата и обмена
        ul
          li Возврат — в течение 14 дней после получения заказа
          li Обмен — в течение 7 дней (по Беларуси) и 14 дней (международные заказы)
      section.delivery-and-return__group
        h3.main-title Что важно знать перед возвратом
        ul
          li Изделие должно быть в новом состоянии: без следов носки, с бирками, упаковкой и чеком.
          li Нижнее белье, аксессуары и индивидуальные заказы не подлежат возврату или обмену (кроме брака).
          li Возврат стоимости осуществляется в течение 3–10 рабочих дней после приёма возврата.
          li Доставка при возврате оплачивается покупателем, за исключением случаев брака.
      section.delivery-and-return__group
        h3.main-title Как оформить возврат или обмен
        p 1. Напишите нам на #[a(href=contactSupport.href) support@thesuitter.com] — укажите номер заказа и приложите фото изделия.
        p 2. Для обмена добавьте нужный размер или модель.
        p 3. Мы подскажем, как оформить возврат — просто и без стресса.
        p 📍 Подробности — в #[a(href="#") Публичном договоре] или по телефону +375 (XX) XXX-XX-XX.
  +preview-community({
    title: "Станьте частью комьюнити the suitter",
    description: 'Откройте доступ к миру качественного выбора и особых привилегий',
    textLink: 'Стать участником',
  }).preview-community--image
block footer
  +page-footer()
