mixin advatages(title, warning)
  section.advantages&attributes(attributes)
    h2.main-title.advantages__title=title
    .advantages__grid.grid-tpl-lg-3
      block
    if(warning)
      p.advantages__warning *Точные условия и стоимость доставки уточняйте при оформлении заказа
