body::after {
  content: '';
  opacity: 0;
  visibility: hidden;
  background-color: rgba($black, 0.5);
  transition: $time;
  position: fixed;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: -1;
  backdrop-filter: blur(3px);
}

:has([data-has-hover]:hover) body::after {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}
