-
  const mainNav = [
    {
      mainItem: 'Каталог',
      subItemColumns: [
        {
          subTitle: 'Категории',
          list: allCatigorise,
        },
        {
          subTitle: 'Коллекции',
          list: [
            {
              linkTitle: 'ss’25',
              href: pages.catalog.href
            },
            {
              linkTitle: 'Пиджаки',
              href: pages.catalog.href
            },
            {
              linkTitle: 'Брюки',
              href: pages.catalog.href
            },
            {
              linkTitle: 'SALE',
              linkModified: 'main-nav__sub-link--sale',
              href: pages.catalog.href
            },
          ],
        }
      ]
    },
    {
      mainItem: 'Инфо',
      subItemColumns: [
        {
          subTitle: 'Информация',
          list: [
            {
              linkTitle: pages.pageAbout.text,
              href: pages.pageAbout.href
            },
            {
              linkTitle: pages.pageDelivery.text,
              href: pages.pageDelivery.href
            },
            {
              linkTitle: pages.pageReturn.text,
              href: pages.pageReturn.href
            },
            {
              linkTitle: 'Состав и уход',
              href: "#"
            },
            {
              linkTitle: pages.blog.text,
              href: pages.blog.href
            },
          ]
        },
      ]
    },
    {
      mainItem: 'Магазины',
      href: '#',
    },
    {
      mainItem: pages.pageСommunity.text,
      href: pages.pageСommunity.href
    },
  ]
