-
  const mainNav = [
    {
      mainItem: 'Каталог',
      subItemColumns: [
        {
          subTitle: 'Категории',
          list: allCatigorise,
        },
        {
          subTitle: 'Коллекции',
          list: [
            {
              linkTitle: 'ss’25',
            },
            {
              linkTitle: 'Пиджаки',
            },
            {
              linkTitle: 'Брюки',
            },
            {
              linkTitle: 'SALE',
              linkModified: 'main-nav__sub-link--sale',
            },
          ],
        }
      ]
    },
    {
      mainItem: 'Инфо',
      href: "#"
    },
    {
      mainItem: 'Магазины',
      href: '#',
    },
    {
      mainItem: pages.pageСommunity.text,
      href: pages.pageСommunity.href
    },
  ]
