// В этом файле должны быть стили для БЭМ-блока field-text, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lighter:                hsl(0, 0%, 80%) !default;
$border-color:                hsl(0, 0%, 60%) !default;

$text-color--muted:           hsl(0, 0%, 50%) !default;

$line-height:                 1.5 !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               3px !default;

.field-text {

  $block-name:                &; // #{$block-name}__element

  display: block;

  &__name {
    margin-bottom: 10px;
    display: block;
    color: #595959;
    font-size: 14px;
    font-weight: 300;
  }

  &__input-wrap {
    position: relative;
    display: block;
  }

  &__input {
    vertical-align: middle;
    margin: 0;
    font-family: inherit;
    appearance: textfield;

    position: relative;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: .2px;
    min-height: 50px;
    padding: 14.5px 16px;
    background-color: $color-light;
    //border: none;
    border: 1px solid #E4E4E4;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: border-color .2s linear;

    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: $gray-lighter;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      // height: auto;
    }

    &[type='color'] {
      // max-width: 100px;
      padding: 0;
    }

    &::placeholder {
      color: $text-color--muted;
      opacity: 1;
    }

    @at-root textarea#{&} {

      height: auto;
      min-height: 110px;
      resize: vertical;
    }
  }
}

.field-text__btn-password {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 70px;
  margin: 2px;
  border-radius: 10px;
  background-color: $color-light;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6383 9.90308C9.95307 10.349 9.5 11.1216 9.5 12C9.5 13.3807 10.6193 14.5 12 14.5C12.7638 14.5 13.4476 14.1575 13.9062 13.6176' stroke='%238B8B8B' stroke-width='1.5'/%3E%3Cpath d='M7.00436 6.81772C6.43039 7.11988 5.88736 7.46304 5.38824 7.83537C4.47872 8.51384 3.74197 9.26952 3.23958 10.0133C2.73166 10.7652 2.5 11.4486 2.5 12C2.5 12.5514 2.73166 13.2348 3.23958 13.9867C3.74197 14.7305 4.47872 15.4862 5.38824 16.1646C7.21553 17.5277 9.63125 18.5 12 18.5C13.8333 18.5 15.6948 17.9176 17.2898 17.0223M11.5471 5.51168C11.6981 5.50394 11.8492 5.5 12 5.5C14.3687 5.5 16.7845 6.47228 18.6118 7.83537C19.5213 8.51384 20.258 9.26952 20.7604 10.0133C21.2683 10.7652 21.5 11.4486 21.5 12C21.5 12.5514 21.2683 13.2348 20.7604 13.9867C20.6657 14.127 20.5626 14.2677 20.4516 14.4082' stroke='%238B8B8B' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M6 5L19.5 18.5' stroke='%238B8B8B' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");

  &--open {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.6118 7.83537C16.7845 6.47228 14.3687 5.5 12 5.5C11.8492 5.5 11.6981 5.50394 11.5471 5.51168C9.70745 5.71805 8.66175 6.00495 7.00436 6.81772C6.43039 7.11988 5.88736 7.46304 5.38824 7.83537C4.47872 8.51384 3.74197 9.26952 3.23958 10.0133C2.73166 10.7652 2.5 11.4486 2.5 12C2.5 12.5514 2.73166 13.2348 3.23958 13.9867C3.74197 14.7305 4.47872 15.4862 5.38824 16.1646C7.21553 17.5277 9.63125 18.5 12 18.5C13.8333 18.5 15.6948 17.9176 17.2898 17.0223C18.6651 16.2897 19.346 15.6939 20.4516 14.4082C20.5626 14.2677 20.6657 14.127 20.7604 13.9867C21.2683 13.2348 21.5 12.5514 21.5 12C21.5 11.4486 21.2683 10.7652 20.7604 10.0133C20.258 9.26952 19.5213 8.51384 18.6118 7.83537Z' stroke='%238B8B8B' stroke-width='1.5' stroke-linecap='round'/%3E%3Ccircle cx='11.9996' cy='12.0001' r='2.65' stroke='%238B8B8B' stroke-width='1.5'/%3E%3C/svg%3E%0A");
  }
}

.field-text__help-text {
  display: block;
  margin-top: 4px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  color: $color-gray;
}
